Repository andrewvasilchuk/v-visible: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-checker, prettier, sort-package-json --check, remark

.lintstagedrc:

{
  "*": ["editorconfig-checker"],
  "*.{js,ts,css,md}": ["prettier"],
  "package.json": ["sort-package-json --check"],
  "*.md": ["remark"]
}

chore: add editorconfig-checker
  package-lock.json
  package.json
Due: editorconfig-checker, sort-package-json --check

style: editorconfig
  .huskyrc
  Makefile
Due: editorconfig-checker

build: provide correct UMD module name
  build/rollup.config.prod.ts
Due: editorconfig-checker, prettier

chore(deps): update
  package-lock.json
  package.json
Due: editorconfig-checker, sort-package-json --check

chore: better tsconfig.json
  tsconfig.json
Due: editorconfig-checker

docs: add badges
  README.md
Due: editorconfig-checker, prettier, remark

docs: fix typo
  README.md
Due: editorconfig-checker, prettier, remark

chore: v1.0.0
  package-lock.json
  package.json
Due: editorconfig-checker, sort-package-json --check

chore: v1.0.0 [skip-ci]
  package-lock.json
  package.json
Due: editorconfig-checker, sort-package-json --check
